<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- css -->
    <link rel='stylesheet' href='/css/style.css' />

    <!-- bower:css -->
    <!-- endbower -->
  </head>
  <body>
    <div><%= title %></div>
    <div id="content">Hello</div>
    <div class="container contentPage">
        <div class="page"></div>
    <div>
    <% include footer.html %>
    
    <!-- bower:js -->
    <!-- endbower -->
  </body>
</html>