<table >
  <tr>
    <td class="col-sm-2">
      <label>LED 1:</label>
    </td>
    <td class="col-sm-10">
      <button class="btn" id="btnLed1"></button>
    </td>
  </tr>
  <tr>
    <td class="col-sm-2">
      <label>LED 2:</label>
    </td>
    <td class="col-sm-10">
      <button class="btn" id="btnLed2"></button>
    </td>
  </tr>
  <tr>
    <td class="col-sm-2">
      <label>Weight Sensor:</label>
      
    </td>
    <td class="col-sm-2">
      <span>
        <label id="lblAnalog1" class="col-sm-1" >--</label>
        <button class="btn btn-default col-sm-2" id="btnAnalog1">Read Value</button>      
      </span>
    </td>
  </tr>
</table>